<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>API Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:01:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_2_Add_Car_Manual.addCar()[pri:0, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">&gt;&gt;addCar</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:00</td>   <td>2237</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_3_Add_Car_From_Excel.addCarExcel()[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">&gt;&gt;addCarExcel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:11</td>   <td>12821</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_4_Add_Car_From_Text.addCarText()[pri:0, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">&gt;&gt;addCarText</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a967b8">  <td>20/04/30 15:01:58</td>   <td>-212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1_Check_Emptyness.checkContentLength()[pri:0, instance:com.carserviceapi.testCase.TC_1_Check_Emptyness@29f69090]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>2190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>19729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>21717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>23666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkContentLength()[pri:7, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>25396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>27443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>2184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>19724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>21712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>23662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkContentType()[pri:5, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>25391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>27439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a967b8">  <td>20/04/30 15:01:55</td>   <td>-3025</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_1_Check_Emptyness.checkEmptyness()[pri:0, instance:com.carserviceapi.testCase.TC_1_Check_Emptyness@29f69090]">&gt;&gt;checkEmptyness</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:21</td>   <td>23429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkID()[pri:1, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkID</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:01</td>   <td>2741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:03</td>   <td>4886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:05</td>   <td>6846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:07</td>   <td>8889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:08</td>   <td>10528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>2162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>19712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>21695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:21</td>   <td>23424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>25379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>27428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>2178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>19719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>21707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>23658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkResponseTime()[pri:3, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>25386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>27434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>2187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>19726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>21714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>23663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkServer()[pri:6, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>25394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>27442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>2173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>19716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>21703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>23656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkStatusCode()[pri:2, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>25383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>27432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>2181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>19722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>21710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>23660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkStatusLine()[pri:4, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>25389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>27437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:23</td>   <td>25428</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_8_Delete_Car.deleteCar()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">&gt;&gt;deleteCar</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:22</td>   <td>23697</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_7_Edit_Car.editCar()[pri:0, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">&gt;&gt;editCar</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:18</td>   <td>19767</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_5_Get_All_Cars.getAllCars()[pri:0, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">&gt;&gt;getAllCars</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:20</td>   <td>21750</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_6_Get_Selected_Car.getSelectedCar()[pri:0, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">&gt;&gt;getSelectedCar</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:01:55</td>   <td>-3049</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_1_Check_Emptyness@29f69090]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:01:58</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:00</td>   <td>2236</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:11</td>   <td>12819</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:18</td>   <td>19765</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:20</td>   <td>21748</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:22</td>   <td>23695</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:23</td>   <td>25426</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a967b8">  <td>20/04/30 15:01:58</td>   <td>-198</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_1_Check_Emptyness.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_1_Check_Emptyness@29f69090]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>2194</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_2_Add_Car_Manual.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:11</td>   <td>12781</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_3_Add_Car_From_Excel.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>19731</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_4_Add_Car_From_Text.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>21719</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_5_Get_All_Cars.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>23667</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_6_Get_Selected_Car.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>25398</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_7_Edit_Car.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>27445</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_8_Delete_Car.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
</table>
