<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>API Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:01:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_1_Check_Emptyness@29f69090]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a967b8">  <td>20/04/30 15:01:55</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_1_Check_Emptyness.checkEmptyness()[pri:0, instance:com.carserviceapi.testCase.TC_1_Check_Emptyness@29f69090]">&gt;&gt;checkEmptyness</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a967b8">  <td>20/04/30 15:01:58</td>   <td>2837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1_Check_Emptyness.checkContentLength()[pri:0, instance:com.carserviceapi.testCase.TC_1_Check_Emptyness@29f69090]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a967b8">  <td>20/04/30 15:01:58</td>   <td>2851</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_1_Check_Emptyness.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_1_Check_Emptyness@29f69090]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:01:58</td>   <td>3047</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:01:58</td>   <td>3049</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_2_Add_Car_Manual.addCar()[pri:0, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">&gt;&gt;addCar</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>5211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>5222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>5227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>5230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>5233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>5236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>5239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_2_Add_Car_Manual.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/04/30 15:02:00</td>   <td>5243</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_2_Add_Car_Manual.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_2_Add_Car_Manual@17c1bced]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:00</td>   <td>5285</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:00</td>   <td>5286</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_3_Add_Car_From_Excel.addCarExcel()[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">&gt;&gt;addCarExcel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:01</td>   <td>5790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:03</td>   <td>7935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:05</td>   <td>9895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:07</td>   <td>11938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:08</td>   <td>13577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_3_Add_Car_From_Excel.checkResponse(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">checkResponse</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>20/04/30 15:02:11</td>   <td>15830</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_3_Add_Car_From_Excel.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_3_Add_Car_From_Excel@6b419da]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:11</td>   <td>15868</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:11</td>   <td>15870</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_4_Add_Car_From_Text.addCarText()[pri:0, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">&gt;&gt;addCarText</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>22761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>22765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>22768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>22771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>22773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>22775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>22778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_4_Add_Car_From_Text.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9bbd76">  <td>20/04/30 15:02:18</td>   <td>22780</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_4_Add_Car_From_Text.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_4_Add_Car_From_Text@21507a04]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:18</td>   <td>22814</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:18</td>   <td>22816</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_5_Get_All_Cars.getAllCars()[pri:0, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">&gt;&gt;getAllCars</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>24744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>24752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>24756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>24759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>24761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>24763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>24766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_5_Get_All_Cars.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="679870">  <td>20/04/30 15:02:20</td>   <td>24768</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_5_Get_All_Cars.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_5_Get_All_Cars@3b2cf7ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:20</td>   <td>24797</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:20</td>   <td>24799</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_6_Get_Selected_Car.getSelectedCar()[pri:0, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">&gt;&gt;getSelectedCar</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:21</td>   <td>26473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:21</td>   <td>26478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkID()[pri:1, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkID</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>26705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkStatusCode()[pri:2, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>26707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkResponseTime()[pri:3, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>26709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkStatusLine()[pri:4, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>26711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkContentType()[pri:5, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>26712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkServer()[pri:6, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>26715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_6_Get_Selected_Car.checkContentLength()[pri:7, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/04/30 15:02:22</td>   <td>26716</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_6_Get_Selected_Car.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_6_Get_Selected_Car@3e3047e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:22</td>   <td>26744</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:22</td>   <td>26746</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_7_Edit_Car.editCar()[pri:0, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">&gt;&gt;editCar</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>28428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>28432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>28435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>28438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>28440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>28443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>28445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_7_Edit_Car.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="b7a896">  <td>20/04/30 15:02:23</td>   <td>28447</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_7_Edit_Car.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_7_Edit_Car@327b636c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="9b62af">  <td>20/04/30 15:02:23</td>   <td>28475</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:23</td>   <td>28477</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_8_Delete_Car.deleteCar()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">&gt;&gt;deleteCar</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>30477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkResponseBody</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>30481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkStatusCode</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>30483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkResponseTime</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>30486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkStatusLine</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>30488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkContentType</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>30491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkServer</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>30492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">checkContentLength</td> 
  <td>main@1630678941</td>   <td></td> </tr>
<tr bgcolor="a0dcaa">  <td>20/04/30 15:02:25</td>   <td>30494</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_8_Delete_Car.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@3bd40a57]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630678941</td>   <td></td> </tr>
</table>
