<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92bcaa">  <td>20/04/30 14:16:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="6f76f3">  <td>20/04/30 14:16:21</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_8_Delete_Car.deleteCar()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">&gt;&gt;deleteCar</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="6f76f3">  <td>20/04/30 14:16:24</td>   <td>2295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkResponseBody()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">checkResponseBody</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="6f76f3">  <td>20/04/30 14:16:24</td>   <td>2312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkStatusCode()[pri:1, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">checkStatusCode</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="6f76f3">  <td>20/04/30 14:16:24</td>   <td>2315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkResponseTime()[pri:2, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">checkResponseTime</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="6f76f3">  <td>20/04/30 14:16:24</td>   <td>2318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkStatusLine()[pri:3, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">checkStatusLine</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="6f76f3">  <td>20/04/30 14:16:24</td>   <td>2321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkContentType()[pri:4, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">checkContentType</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="6f76f3">  <td>20/04/30 14:16:24</td>   <td>2324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkServer()[pri:5, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">checkServer</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="6f76f3">  <td>20/04/30 14:16:24</td>   <td>2327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_8_Delete_Car.checkContentLength()[pri:6, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">checkContentLength</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="6f76f3">  <td>20/04/30 14:16:24</td>   <td>2330</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_8_Delete_Car.tearDown()[pri:0, instance:com.carserviceapi.testCase.TC_8_Delete_Car@23c30a20]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754444726</td>   <td></td> </tr>
</table>
